<% content_for :top_content do %>
  <div class="center jumbotron">
      <h1>Welcome!</h1>
      <h2>Ready to find awesome projects?</h2>
      <p>
        <%= link_to 'Sign up now!', new_user_registration_path, class: 'btn btn-lg btn-primary' %>
      </p>
  </div>
<% end %>