<footer class="footer">
  <small><em>Project Matching</em> - An Open Source project by DSC UMass x NTU. </small>
  <nav>
    <ul>
      <li><%= link_to "Our GitHub", 'https://github.com/dsc-umass/project-matching' %></li>
    </ul>
  </nav>
</footer>